widget/*.lo
widget/*.o
widget/*.c~
widget/*.h~
widget/*.c.BAK*

editor/*.lo
editor/*.o
editor/*.c~
editor/*.h~
editor/*.c.BAK*

rxvt/*.lo
rxvt/*.o
rxvt/*.c~
rxvt/*.h~
rxvt/*.c.BAK*

remotefs/*.c
remotefs/*.lo
remotefs/*.o
remotefs/*.c~
remotefs/*.h~
remotefs/*.c.BAK*

*.diff
*~
cursor/missfont.log
set-core.sh
autom4te.cache
junk

Makefile
config.h
config.log
config.status
editor/.deps/
editor/Makefile
editor/cooledit
editor/coolman
editor/smalledit
lib/Makefile
libtool
man/Makefile
notosans/Makefile
pixmap/Makefile
rxvt/.deps/
rxvt/Makefile
rxvt/librxvt.a
stamp-h1
syntax/Makefile
widget/.deps/
widget/.libs/
widget/Makefile
widget/libCw.la
remotefs/.deps/
remotefs/.libs/
remotefs/Makefile
remotefs/remotefs
